/* button */

.button-new,.button-new span,.button-gray,.button-gray span,.button-gray-2,.button-gray-2 span,.button-login,.button-login span,.button-detail,.button-detail span,.button-subscribe,.button-subscribe span,.button-form,.button-form span,.button-ico,.button-ico span,.button-back,.button-back span,.button-form-2,.button-form-2 span,.button-bubble,.button-bubble span,.button-bubble-hover,.button-bubble-hover span,.button-s-operate,.button-s-operate span,.button-s-operate-b,.button-s-operate-b span,.button-attention,.button-attention span,.button-404,.button-404 span,.button-contact,.button-contact span,.button-list-detail,.button-list-detail span,.button-noProduct,.button-noProduct span,.button-form,.button-form span

	{

	background: url('../images/button.png') no-repeat;

	display: inline-block;

	vertical-align: middle;

	cursor: pointer;

	min-width: 60px;

	_width: 60px;

	text-align: center;

}
.button-new span,.button-gray span,.button-gray-2 span,.button-login span,.button-detail span,.button-subscribe span,.button-form span,.button-ico span,.button-back span,.button-form-2 span,.button-bubble span,.button-bubble-hover span,.button-s-operate span,.button-s-operate-b span,.button-attention span,.button-404 span,.button-contact span,.button-list-detail span,.button-noProduct span
{
	display: block;
}


.button-new {

	padding-left: 34px;

	background-position: 0 0;

}



.button-new span {

	padding-left: 3px;

	padding-right: 13px;

	color: white;

	background-position: right -31px;

	text-shadow: 0 1px 1px #4b6507;

	font-weight: bold;

	height: 30px;

	line-height: 28px;

}



.button-gray {

	padding-left: 2px;

	background-position: 0 -61px;

}



.button-gray span {

	padding-left: 11px;

	padding-right: 13px;

	color: #5e6e7d;

	background-position: right -85px;

	text-shadow: 0 1px 1px #fff;

	height: 24px;

	line-height: 24px;

}



.button-gray-2 {

	padding-left: 3px;

	background-position: 0 -253px;

}



.button-gray-2 span {

	padding-left: 3px;

	padding-right: 6px;

	color: #3976bb;

	background-position: right -281px;

	text-shadow: 0 1px 1px #fff;

	height: 28px;

	line-height: 28px;

}



.button-login {

	background-position: 0px -109px;

	padding-left: 50px;

}



.button-login span {

	text-shadow: 0 1px 1px #FFF;

	color: #84929d;

	height: 45px;

	line-height: 45px;

	font-size: 14px;

	font-weight: bold;

	padding-left: 5px;

	padding-right: 20px;

	background-position: right -154px;

}



.button-detail {

	background-position: 0px -199px;

	padding-left: 13px;

}



.button-detail span {

	text-shadow: 0 1px 1px #FFF;

	color: #3976bb;

	height: 25px;

	line-height: 27px;

	padding-left: 2px;

	padding-right: 15px;

	background-position: right -226px;

	font-size: 11px;

}



.button-subscribe {

	background-position: 0px -379px;

	padding-left: 15px;

}



.button-subscribe span {

	text-shadow: 0 1px 1px #62acd5;

	color: #fff;

	height: 25px;

	line-height: 25px;

	padding-right: 15px;

	background-position: right -406px;

	font-size: 11px;

	min-width: 60px;

	_width: 60px;

	text-align: center;

}



.button-form {

	background-position: 0px -309px;

	padding-left: 19px;

}



.button-form span {

	text-shadow: 0 1px 1px #62acd5;

	color: #fff;

	height: 35px;

	line-height: 33px;

	padding-right: 19px;

	background-position: right -344px;

	font-size: 13px;

	font-weight: bold;

	min-width: 42px;

	_width: 42px;

	text-align: center;

}



.button-form-2 {

	background-position: 0px -529px;

	padding-left: 17px;

}



.button-form-2 span {

	text-shadow: 0 1px 1px #62acd5;

	color: #fff;

	height: 31px;

	line-height: 28px;

	padding-left: 3px;

	padding-right: 20px;

	background-position: right -560px;

	font-size: 13px;

	font-weight: bold;

}



.button-ico {

	background-position: 0px -433px;

	padding-left: 3px;

}



.button-ico span {

	color: black;

	height: 18px;

	line-height: 18px;

	padding-left: 2px;

	padding-right: 5px;

	background-position: right -451px;

	text-decoration: none;

}



.button-ico span em {

	margin-left: 4px;

	color: #434343;

}



.button-back {

	background-position: 0px -469px;

	padding-left: 16px;

}



.button-back span {

	color: #6d9acb;

	height: 30px;

	line-height: 30px;

	padding-right: 16px;

	background-position: right -499px;

	text-decoration: none;

	text-shadow: 0 1px 1px #fff;

	font-weight: bold;

}



.button-bubble {

	background-position: 0px -633px;

	padding-left: 5px;

}



.button-bubble span {

	color: #444444;

	height: 21px;

	line-height: 20px;

	padding-right: 5px;

	background-position: right -654px;

	text-decoration: none;

	text-shadow: 0 1px 1px #fff;

	min-width: 80px;

	_width: 80px;

	text-align: center;

	font-size: 11px;

}



.button-bubble:hover {

	background-position: 0px -591px;

}



.button-bubble:hover span {

	background-position: right -612px;

}



.button-s-operate,.button-s-operate span,.button-s-operate-b,.button-s-operate-b span

	{

	min-width: 30px;

	_width: 30px;

	font-size: 11px;

	font-family: "Verdana";

}



.button-s-operate {

	background-position: 0 -675px;

	padding-left: 5px;

}



.button-s-operate span {

	background-position: right -696px;

	height: 21px;

	line-height: 21px;

	padding-right: 5px;

	color: #575757;

}



.button-s-operate-b {

	background-position: 0 -717px;

	padding-left: 5px;

}



.button-s-operate-b span {

	background-position: right -738px;

	height: 21px;

	line-height: 21px;

	padding-right: 5px;

	color: #3a74be;

}



.button-attention {

	background-position: 0 -857px;

	padding-left: 2px;

	min-width: 0px;

	_width: 0px;

}



.button-attention span {

	background-position: right -875px;

	height: 18px;

	line-height: 18px;

	padding-right: 2px;

	color: #80ace9;

	min-width: 40px;

	_width: 40px;

}



.button-404 {

	background-position: 0 -893px;

	padding-left: 21px;

}



.button-404 span {

	background-position: right -931px;

	height: 38px;

	line-height: 38px;

	padding-right: 21px;

	color: #84929d;

	font-weight: bold;

	min-width: 112px;

	_width: 112px;

}



.button-contact {

	background-position: 0 -969px;

	padding-left: 52px;

}



.button-contact span {

	background-position: right -1014px;

	height: 45px;

	line-height: 45px;

	padding-right: 32px;

	padding-left: 10px;

	color: #84929d;

	font-weight: bold;

}



.button-list-detail {

	background-position: 0 -1059px;

	padding-left: 5px;

}



.button-list-detail span {

	background-position: right -1080px;

	height: 21px;

	line-height: 21px;

	padding-right: 10px;

	/* 	padding-left:0px;

	*/

	color: #7b7d7c;

	min-width: 50px;

	_width: 50px;

}



.button-noProduct {

	background-position: 0 -1101px;

	padding-left: 50px;

}



.button-noProduct span {

	background-position: right -1146px;

	height: 45px;

	line-height: 45px;

	padding-right: 20px;

	color: #84929D;

	font-size: 14px;

	font-weight: bold;

	text-shadow: 0 1px 1px #FFFFFF;

}


